matplotlib>=3.5.3
networkx>=2.6.3
nltk>=3.7
numpy>=1.21.6
pandas>=1.3.5
scikit_learn>=1.0.2
rdkit>=2022.9.1
sdmetrics==0.6.0
ctgan==0.5.2
seaborn
dill
requests
gensim
joblib
wget
tqdm
transformers
datasets
copulas
rdt
xgboost
icd10-cm
transtab
promptehr
trial2vec